<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta http-equiv="content-type"
        content="text/html; charset=UTF-8">
    <title><%= title %></title>
  </head>

  <body>
    <header>
      <h1><%= title %></h1>
    </header>
    <div>
      <table>
        <tr>
          <th>name</th>
          <td><%= form.name %></td>
        </tr>
        <tr>
          <th>pass</th>
          <td><%= form.pass %></td>
        </tr>
        <tr>
          <th>mail</th>
          <td><%= form.mail %></td>
        </tr>
        <tr>
          <th>message</th>
          <td><%= form.message %></td>
        </tr>
      </table>
      <form method="post" action="/users/delete">
        <input type="hidden" name="_token" value=<%= csrfToken %>>
        <input type="hidden" name="id" value=<%= form.id %>>
        <input type="submit" value="削除">
      </form>
    </div>
  </body>

</html>
